html,
body {
  background-color: rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  background-image: url('./../background.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.logo {
  background-image: url('./../logo.png');
  background-size: contain;
  height: 300px;
  width: auto;
  background-position: center top ;
  background-repeat: no-repeat;
}

.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  max-width: 1200px;
  max-height: 600px;
  text-align: center;
  margin-top: 20px;
  border: 2px solid #00aeff;
  margin-left: auto;
  margin-right: auto;
}

.div1 {
  /* ueberschrift-box */
  grid-area: 1/1/2/6;
}

.div2 {
  /* fragen-box */
  margin-top: 50px;
  grid-area: 2/1/4/5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div3 {
  /* antworten-box */
  margin-top: 50px;
  padding-top: 50px;
  grid-area: 5/1/4/5;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div4 {
  /* gewinn-box */
  grid-area: 2/5/6/6;
  background-color: #000000;
  border: 2px solid #00aeff;
  color: white;
}

.title {
  font-size: 28px;
  text-align: center;
  margin: 20px;
  border-radius: 30px;
  background-color: #000000;
  border: 2px solid #00aeff;
  color: white;
  padding: 10px;
}

.question {
  height: 130px;
  font-size: 20px;
  text-align: left;
  margin: 20px;
  border-radius: 30px;
  background-color: #000000;
  border: 2px solid #00aeff;
  color: white;
  padding: 20px;
}

.answers {
  width: 400px;
  height: 100px;
  text-align: left;
  margin: 20px;
  border-radius: 30px;
  background-color: #000000;
  border: 2px solid #00aeff;
  color: white;
  padding: 30px 10px;
}

.gewinn {
  margin: 5px;
  color: #fec932;
}
.selected {
  background-color: rgba(255, 255, 255, 0.349);
  color: white;
}
.separator {
  color: white;
}
.buttons {
  color: white;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 20px;
}
.buttons, a:link, a:visited {
  color: #ffffff;
}
/* mouse over link */
.buttons, a:hover {
  color: #00ccff;
}
.button {
  display: inline-block;
  border: 2px solid #00aeff;
  background-color: #000000;
  padding: 10px;
  vertical-align: middle;
  margin-left: 10px;
  margin-right: 10px;
  width: 200px;
  }